.App {
  height: 100vh;
  padding: 20px;
  /* max-width: 500px; */
  margin: 0 auto;
  font-size: 18px;
}

.App__header {
  padding-left: 20px;
  padding-right: 20px;
}

.App__main {
  height: calc(100vh - 70px);
  overflow: auto;
  margin-top: 10px;
  padding-bottom: 40px;
}

.signup-head, .app-description {
  text-align: center;
}

.alredy-have-account {
  margin: 15px;
}

.translate-word-page {
  text-align: center;
  padding: 0;
}

form {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  padding: 20px;
  word-wrap: normal;
  height: 175px;
  border-radius: 25px;
}

.LoginForm {
  height: 250px;
}

.registration-form {
  height: 400px;
}

.login-head {
  text-align: center;
}

#learn-guess-input {
  width: 200px;
}

.submit-button {
  width: 125px;
  height: 45px;
}

.word-cycle-button {
  height: 40px;
  margin: 15px;
}

@media only screen and (min-width: 700px) {
  form {
    width: 50%;
    height: 250px;
  }
}

@media only screen and (min-width: 1400px) {
  form {
    width: 40%;
    height: 300px;
  }
}